<style> 
{
    <link rel="style sheet"href="custom css">
}

 h1{ 
     text-align: center;
 }
    {
        background:url(circle_logo.png)
    } 
    text-shadow: 0px 0px 20px #fff;
    color: #fff;
    background: #1c8bad
    .index jpg
    {
background:url(index.jpg)

    }